<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Challenge Chapter 3 Binar Academy">
    <meta name="keywords" content="HTML,CSS,Boostrap Web Suit">
    <meta name="author" content="Ricky Stefano">
    <title>Game Tradisional</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles1.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <section id="main-bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
      <a class="navbar-brand posisi" href="index.html"><img id="logo" src="assets/logosuit.jpg" alt="Logo-Suit"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=#features>FEATURE</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=#requirement-bg>REQUIREMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=#news>CONTACT US</a>
          </li>
        </ul>
      </div>
        <div class="collapse navbar-collapse" id="navbarNav2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="daftar">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">LOGIN</a></a>
            </li>
      </div>
    </nav>
<div class="centered">
    <h1 class="h1-header">PLAY TRADITIONAL GAME</h1>

    <p id="header-p">Experience new traditional game play</p>

    <button class="btn btn-warning btn-lg btn-header"><a href="login">PLAY NOW</a></button>

    <div id="story">Story<br> &#x25BC;</div>
    
  </div>
</section>

  <section id="games">
      <div class="row pad">
         <div class="col-4">
        <p class="games-p1">What's so special?</p>
        <p class="games-p2">THE GAMES</p>
      </div>
      <div class="col-8">
            <div id="gamesslide" class="carousel slide" data-ride="false">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active container-fluid">
                    <img class="d-block w-100" src="assets/rockpaperstrategy-1600.jpg" alt="First slide" id="featuresimg">
                  </div>
                  <div class="carousel-item container-fluid">
                    <img class="d-block w-100" src="assets/main-bg.jpg" alt="Second slide" id="featuresimg">
                  </div>
                  <div class="carousel-item container-fluid">
                    <img class="d-block w-100" src="assets/features.jpg" alt="Third slide" id="featuresimg">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#gamesslide" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   
                </a>
                <a class="carousel-control-next" href="#gamesslide" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
              
                </a>
              </div>
           </div>
            </div>
    </div>
  </section>

  <section id="features">
    <div class="row">
      <div class="col">
      </div>
      <div class="col feature">
        <div>
        <p class="tulisan-kecil">What's so special?</p>
        <p class="tulisan">FEATURES</p>
        <div id="garis">.</div>
        <ul class="list-order">
            <li id="warna"><span>TRADITIONAL GAMES</span></li>
            <p id="p-feature"> if you miss your childhood, we provide many traditional games here</p>
            <li id="li-games"><span>GAME SUIT</span></li>
            <li id="li-games"><span>TBD</span></li>
        </ul>
       </div>
    </div>
  </section>

<section id="requirement-bg"> 
    <p class="p-top">Can My Computer Run This Game?</p>
<div class="container-fluid">
<div class="row">
    <div class="col requirement-padding">
    <p id="p-requirement">SYSTEM REQUIREMENTS</p>

    <table class="requirement-table">
        <tr class="requirement-th"> 
        <th class="requirement-th">
          <p class="yellow-color">OS : </p>
          <p class="p-table">Windows 7-64 bit only (No OSX support at this time)</p>
        </th>
       <th class="requirement-th">
         <p class="yellow-color">PROCESSOR : </p>
         <p class="p-table">Intel Core 2 Duo @2,4GHZ or AMD Athlon X2 @2,8GHZ</p>
         </th>
        </tr>
        <tr class="requirement-th">
            <th class="requirement-th">
              <p class="yellow-color">MEMORY : </p>
             <p class="p-table"> 4 GB RAM</p></th>
            <th class="requirement-th">
              <p class="yellow-color">STORAGE :</p> 
              <p class="p-table">8 GB available space</p></tr>
        <tr class="requirement-th">
          <th class="requirement-th" colspan="2"><p class="yellow-color">GRAPHICS :</p>
            <p class="p-table">NVDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 ( Shader Mode 5)</p></th>
        </th>
        </tr>
    </table>
    </div>
    <div class="col">
    </div>
</div>
    </div>
</section>

<section id="score">
    <div class="container-fluid">
        <div class="row">
            <div class="col padding-turun">
<h1 class="h1-score">Top Scores</h1>
<p id="p-score">This top score from various games provided on this platform</p>
<button class="btn btn-warning btn-lg">see more</button>
            </div>
<div class="col padding-table">
<div>
<table  id="table-atas" class="table-gray">
  <tr>
  <th class="foto"><img class="foto-pp" src="assets/foto-1.jpg">
    <img class="foto-bulat" src="assets/bulat.png"></th>
  <th class="nama">Evan Lathi
    <p class="p-job">PC gamer</p>
  </th class="logo">
  <th><i class="fa fa-twitter"></i></th>
</tr>
  <tr>
    <th colspan="2"><p class="p-comment">"One of my gaming highlight of the year"</p>
    <p class="p-date">June 18,2021</p>
    </th>
  </tr>
</table>
</div>
<div >
  <table id="table-tengah" class="table-gray">
  <tr>
  <th class="foto"><img class="foto-pp" src="assets/foto-2.jpg">
    <img class="foto-bulat" src="assets/bulat.png"></th>
  <th class="nama">Jada Griffin
    <p class="p-job">Nerdreactor</p>
  </th>
  <th class="logo"><i class="fa fa-twitter"></i></th>
</tr>
  <tr>
    <th colspan="2"><p class="p-comment">"The next big thing in the world of streaming and survival games"</p>
    <p class="p-date">July 10,2021</p>
    </th>
  </tr>
</div>

<div>
  <table id="table-bawah" class="table-gray">
  <tr>
  <th class="foto"><img class="foto-pp" src="assets/foto-3.jpg">
    <img class="foto-bulat" src="assets/bulat.png"></th>
  <th class="nama">Aaron Williams
    <p class="p-job">Uproxx</p>
  </th>
  <th class="logo"><i class="fa fa-twitter"></i></th>
</tr>
  <tr>
    <th colspan="2"><p class="p-comment">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
    <p class="p-date">December 24,2018</p>
    </th>
  </tr>
  </table>
  </div>
</div>
</div>
        </div>
    </div>
</section>

<section id="news">
<div>
  <div class="row">
    <div class="col">
<img id="news-bg" src="assets/news-bg.png">
    </div>
    <div class="col">
      <p id="p1-news">Want to stay in touch?</p>
      <p id="p2-news">NEWSLETTER SUBSCRIBE</p>
    <p id="p3-news">In order to start our news,all you have to do is enter your email address. Everything else will be taken care  of by us. We will send you emails containing information about game. We don't spam</p>
   <div class="row">
     <div class="col-6">
    <div class="form-group form-size">
        <label for="Your Email Address"><small>Your Email Address</small></label>
        <input class="form-control" id="inputan" type="text" name="email" placeholder="youremail@binar.co.id">
      </div>
    </div>
      <div class="col-6">
      <button class="btn btn-warning btn-lg">Subscribe Now</button>
    </div>
    </div>
    </div>
  </div>
  </div>

</section>
<footer>
  <ul id="footer-ul">
    <li id="footer-li">Main</li>
    <li id="footer-li">About</li>
    
    <li id="footer-li">Game Features</li>
    <li id="footer-li">System Requirement</li>
    
    <li id="footer-li">Quotes</li>
    <li id="footer-li"><i class="fa fa-facebook" aria-hidden="true"></i></li>
    
    <li id="footer-li"><i class="fa fa-twitter" aria-hidden="true"></i></li>
    <li id="footer-li"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
    <li id="footer-li"><i class="fa fa-envelope" aria-hidden="true"></i></li>
  </ul>

  <hr>

  <div class="row">
    <div class="col kiri">Ⓒ 2022 Your Games,Inc. All Rights Reserved</div>
    <div class="col jarak"><a href="">Privacy Policy</a> | <a href="">Terms of Services</a> | <a href="">Code of Conduct</a></div>
  </div>

  
</footer>
  </body>

</html>
