<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/styles3.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
    <div class="login-wrapper">
        <form action="/login" method="post" class="login-form">
            <input type="text" name="username" placeholder="Your Id" autocomplete="off">
            <input type="password" name="password" placeholder="Your password">
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>