<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles2.css">
   <title>Game Suit</title>
</head>
<body>
    <p class="player">Player 1</p>
    <p class="com">Com</p>
    <a href="/"><p class="arrow"><</p></a>
    <img class="img-top" src="assets/assets/logo1.png" alt="logo-suit">
    <p class="p-top">ROCK PAPER SCISSORS</p>
    <img class="suit" id="rockplayer" name="rock" src="assets/assets/batu.png" alt="Rock-Player">
    <img class="suit" id="scissorsplayer" name="scissors" src="assets/assets/gunting.png" alt="Scissors-Player">
    <img class="suit" id="paperplayer" name="paper" src="assets/assets/kertas.png" alt="Paper-Player">
    <p class="vs" id="versus">VS</p>
    <img name="rock" id="rockcom" src="assets/assets/batu.png" alt="Rock-Com">
    <img name="scissors" id="scissorscom" src="assets/assets/gunting.png" alt="Scissors-Com">
    <img name="paper" id="papercom" src="assets/assets/kertas.png" alt="Paper-Com">
    <img class="refresh" src="assets/assets/refresh.png" alt="Refresh-Button">

<div class="img-rock-com"></div>



<script src="index.js"></script>
</body>

</html>
