.login{
    width: 100%;
    height:80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login-wrapper{
    border: 1px solid black;
    width : 20%;
    margin : 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input{
    margin :1rem;
}