@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body{
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
background: #9C835F;
}

.gone{
    opacity: 0;
}

.arrow{
    margin :0;
position: absolute;
height: 87px;
width: 55px;
left: 37px;
top: 0px;
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 98px;
letter-spacing: 0.1em;
text-align: left;
color: #724C21;
transition: 0.5s;
}

.arrow:hover{
    text-shadow: .1rem .1rem .1rem #C4C4C4;
   transition: 0.5s;
}

.img-top{
height: 72px;
width: 72px;
border-radius: 0px;
position: absolute;
width: 40px;
height: 40px;
left: 80px;
top: 27px;
}

.p-top{
    margin : 0 ;
    position: absolute;
    width: 410px;
    height: 62px;
    left: 10px;
    top: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

#rockplayer{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 160px;
    top: 120px;
transition : 1s;
padding : 2rem;
border-radius: 30px;

}

#rockplayer:hover{
transform: rotate(30deg);
transition: 1s;
cursor:pointer;
    }

#scissorsplayer{
    position: absolute;
    width: 60px;
    height: 80px;
    left: 167px;
    top: 320px;
transition: 1s;
padding : 0.5rem 2rem;
border-radius: 30px;

}

#scissorsplayer:hover{
transform: rotate(30deg);
transition: 1s;
cursor:pointer;
}

#paperplayer{
    position: absolute;
    width: 50px;
    height: 70px;
    left: 160px;
    top: 220px;
    padding : 0.5rem 2.2rem 0.5rem 2.6rem;
transition: 1s;
border-radius: 30px;

}

#paperplayer:hover{
    transform: rotate(30deg);
    transition: 1s;
    cursor:pointer;
    }

#rockcom{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 610px;
    top: 120px;
    padding : 2rem;
    border-radius: 30px;
    transition: 1s;
}
    
#scissorscom{
    position: absolute;
    width: 60px;
    height: 80px;
    left: 615px;
    top: 320px;
    padding : 0.5rem 2rem;
    border-radius: 30px;
    transition: 1s;

}

#papercom{
    position: absolute;
    width: 50px;
    height: 70px;
    left: 607px;
    top: 220px;
    padding : 0.5rem 2.2rem 0.5rem 2.6rem;
    border-radius: 30px;
    transition: 1s;

}

.vs{
    margin : 0;
    position: absolute;
    width: 296px;
    height: 186px;
    left: 300px;
    top: 160px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}

.refresh{
position: absolute;
width: 40px;
height: 40px;
left: 430px;
top: 400px;
transition: 2s;
}

.refresh:hover{
cursor: pointer;
transform: rotate(1080deg);
transition: 5s;
    }

.player{
position: absolute;
width: 299px;
height: 94px;
left: 80px;
top: 80px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 49px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
margin-top : 0;
}

.com{
position: absolute;
width: 299px;
height: 94px;
left: 525px;
top: 80px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: Bold;
font-size: 18px;
line-height: 49px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
margin-top : 0;
}

.choice{
background-color: #C4C4C4;
}

.result{
    transform: rotate(-30deg);
background-color: green;
font-size: 2.5em;
color :aliceblue;
letter-spacing: 0;
}